body{

    font-family: 'Montserrat', sans-serif;
   
}

#title{
    background-color: #FE3C72;    
    height: 700px;
    overflow: hidden;

}

.container-fluid{
    padding: 3% 15%;
}

.title-image{
    transform: rotate(25deg);
    width: 48%;
}

h1{
    font-weight: 900;
    font-size: 3.2rem;
    color: white;
    line-height: 1.5;
    
}

h2{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;

}

h3{
    font-weight: 600;
}

p{
    color: #8f8f8f;
    font-weight: 500;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    font-weight: 600;
}

.navbar{
    padding: 0 0 90px;
}

.nav-item{
    font-size: 25px;
    padding: 0 30px;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.download-icons{
    margin: 0 10px 0 0;
}

.feature{
    text-align: center;
    padding: 5%;
}

#features{
    padding: 7% 15%;
}

.icons{
    width: 23%;
    margin: 0 0 15px 0;
}


#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff6b76;
    color: white;
}

.text-quote {
    padding: 0 12%;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 30px 20px 10px 0;
}

#press{
    background-color: #ff6b76;
    text-align: center;
    padding-bottom: 3%;

}

.press-logos{
    width: 15%;
    margin: 20px 20px 50px 20px;
}